.ed-container {
}

.ed-toolbar {
  border-bottom: 1px solid #ddd;
}

.ed-toolbar .ed-button {
  text-align: center;
  text-decoration: none !important;
  color: #2c3e50;
  margin: 1px;
  border: 1px solid transparent;
  opacity: 0.8;
  border-radius: 3px;
  cursor: pointer;
  background: transparent;
  font-size: 14px;
  padding: 5px;
  outline: none;
}
.ed-toolbar .ed-button:hover {
  opacity: 1;
}
.ed-toolbar .ed-button-active {
  border-color: #95a5a6;
}
.ed-toolbar .ed-button-underline, .ed-toolbar .ed-button-h2 {
  margin-right: 14px;
}
.ed-content {
  outline: none;
  padding: 14px 8px;
  min-height: 200px;
}

.ed-link-input {
  display: none;
  border: none;
  outline: none;
  font-size: 14px;
  width: 60%;
  margin: 1px;
  padding: 5px;
  border: 1px solid transparent;
}
.ed-link-input-active button {
  display: none;
}
.ed-link-input-active .ed-link-input,
.ed-link-input-active .ed-button-a {
  display: initial;
}

.ed-image-overlay {
}

.icon-h2:before {
  content: 'H';
  font-weight: bold;
  font-family: sans-serif;
}
